@{
    ViewData["Title"] = "Home Page";
}

<h1>Home page</h1>

<input type="button"
       value="Submit new weather data"
       onclick="location.href='@Url.Action("Index", "WeatherForecast")'"/>

<input type="button"
       value="View existing weather data"
       onclick="location.href='@Url.Action("Browse", "WeatherForecast")'"/>

<input type="button"
       value="Subscribe to live updates"
       onclick="location.href='@Url.Action("Subscribe", "WeatherForecast")'" />
