@model WeatherForecastModel
@{
    ViewData["Title"] = "Index";
}

<h1>Upload weather data here</h1>

<form asp-action="Index" asp-controller="WeatherForecast" method="post">
    <div>
        <label asp-for="TemperatureC"></label>
        <input asp-for="TemperatureC"/>
    </div>
    <div>
        <label asp-for="Humidity"></label>
        <input asp-for="Humidity"/>
    </div>
    <div>
        <label asp-for="Pressure"></label>
        <input asp-for="Pressure"/>
    </div>
    <div>
        <label asp-for="Summary"></label>
        <input asp-for="Summary"/>
    </div>
    <button type="submit">Submit</button>
</form>
